<!DOCTYPE HTML>
<html>
<head></head>
<body>
<pre>
{{.Who}} // {{.Period}}

Hyra:         {{.Rent}} kr
Telge Energi: {{.Telge}} kr
Kraftringen:  {{.Kraft}} kr
Totalt:       {{.Total}} kr

Hyran är för nästkommande månad ({{.Period}}).
Telge Energi är förra månadens el.
Kraftringen fakutrerar varannan månad (dvs. två månader bakåt).

<a href="{{.Meme}}">{{.Caption}}</a>
</pre>
</body>
</html>